@tailwind base;
@tailwind components;
@tailwind utilities;


.heading{
  margin-top: 50px;
  text-align: center;
  font-size: 35px;
  font-family: cursive;
  font-weight: 600;
  margin-top: 150px;
}
.pera .pera1{
  width: 40%;
  float: left;
  margin-top: 5px;
  margin-left: 9%;
  text-align: justify;

}
.pera .pera2{
  width: 40%;
  float: left;
  margin-top: 5px;
  margin-left: 1%;
}

.typeOf{
  text-align: center;
  font-family: math;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-size: 18px;
  text-shadow: 2px 2px lightblue;
}

.list{
  text-align: center;
  font-family: math;
  font-weight: 300;
  list-style-type: circle;
}

ul .item{
  list-style-type: square !important;
  list-style-type: circle;
}
.defined{
  margin-right:10px;
  margin-left: 10px;;
  text-align: justify;
}

.imgs{
  height: 200px;
  width: 210px;
  float: left;
  margin: 2px;
}



